/******* TAG selector *******/

h1 {
  color: red;
  font-size: 100px;
}


img:hover {
  background-color: gold;
}

/******* CLASS selector *******/

.bacon {
  background-color: green;
}
.broccoli {
  background-color: red;
}
.circular {
  border-radius: 100%;
}

/******* ID selector *******/
#heading {
  color: blue;
}
